AddDefaultCharset UTF-8

AddType image/svg+xml svg svgz
AddEncoding gzip svgz

RewriteEngine on
Options +FollowSymlinks

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /index.php?r=$1&%{QUERY_STRING}
